{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container text-center p-5">
    <div class="card">
        <div class="card-header">
            <h1>Wheel of Destiny</h1>                       
        </div>
        <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="mbed-responsive-item"
                src="https://www.youtube.com/embed/N5H1TE_9iNI" 
                frameborder="0" allow="accelerometer; autoplay; 
                encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
              </div>  
              <p class="text-center">Spin the Wheel, what it lands on is what you get.</p>
              <p class="text-center">Come down and see what destiny has to offer!</p>  
        </div>    
    </div>
</div>
{% endblock content %}