{% extends "base.html" %}
{% block content %}
{% load static %}
<header class="masthead" style="background-image: url('{% static "gradient.jpg" %}')">
</header>
<div class="container-fluid py-5 text-center" style="background-color: #cf4c4d">
  <h1 class="text-white p-2">GOOD TATTOOS AIN'T CHEAP &</h1>
  <h1 class="text-white p-2">CHEAP TATTOOS AIN'T GOOD</h1>
  <div class="container">
    <div class="row p-5 justify-content-center" style="background-color: #cf4c4d">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-phone fa-3x p-3" style="color:black"></i>
            <h5 class="card-title">CALL</h5>
            <p class="card-text info">530-592-3074</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <i class="fa fa-clock-o p-3 fa-3x" style="color:black"></i>
            <h5 class="card-title">HOURS</h5>
            <p class="card-text">Mon-Sat: 11am-7pm</p>
            <p class="card-text">Sunday: 12pm-6pm</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <i class="fa fa-map fa-3x p-3" style="color:black"></i>
            <h5 class="card-title">LOCATION</h5>
            <p class="card-text">194 E 8th St. Chico, CA 95928</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="text-white p-5">Artists</h1>
    <div class="card-columns p-5">
      {% for artist in artists %}
      <a class="style-1" href="artists/{{artist.id}}">
        <div class="card border-0 shadow">
          {% if artist.profile_picture %}
          <img src="{{artist.profile_picture.url}}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body text-center text-uppercase">
            <h5 class="card-title mb-0">{{artist.first_name}} {{artist.last_name}}</h5>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}