{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card-columns">
        {% for artist in artists %}
        <div class="card">
            <a href="artists/{{artist.id}}" class="btn-fix text-left">
                <img class="card-img-top" src="media/{{artist.profile_picture}}" alt="img">
                <div class="card-body">
                    {{artist}}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}